.about-section-container {
  width: calc(100% - 32px);
  margin: 16px auto;
  display: flex;
  align-items: stretch; // Stretch both sections to equal height
  gap: 16px;

  @media (max-width: 1000px) {
    flex-direction: row; // In medium screens, show as columns
  }
  @media (max-width: 500px) {
    flex-direction: column; // In medium screens, show as columns
   
  }
}

/* Left side (About) */
.about-section-about {
  flex: 1; // Both sections should grow equally
  background: #EBE7EE;
  border-radius: 28px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  height: 440px;

  @media (max-width: 1000px) {
    width: 100%;
    padding: 24px;
  }
}

.about-section-about h2 {
  color: #2B2E37;
  
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1.12px;
  margin-bottom: 16px;

  @media (max-width: 1000px) {
    font-size: 24px;
  }
}

.about-section-about p {
  color: #2B2E37;
  font-size: 1rem;
  line-height: 1.5;
  width: 100%; 
  flex-grow: 1;
  margin-top: 16px; 

  @media (max-width: 1000px) {
    width: 100%;
  }
}

/* Right side (My Role) */
.about-section-role {
  flex: 1; // Both sections should grow equally
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  background: #EBE7EE;
  border-radius: 28px;
  padding: 32px;

  height: 440px;

  @media (max-width: 1000px) {
    width: 100%;
    padding: 24px;
  }
}

.about-section-role h2 {
  width: 100%;
  color: #2B2E37;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1.12px;

  @media (max-width: 1000px) {
    font-size: 24px;
    margin-bottom: 16px;
  }
}

.about-role-card {
  /* width: 182px;  */
  width: calc(33.33% - 12px);
  height: 144px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;
  border-radius: 28px;
  background: #F5F3F7;
  backdrop-filter: blur(20px);
  text-align: left;

  @media (max-width: 600px) {
    width: calc(100% / 2 - 16px); // שלוש כרטיסיות בשורה עם מרווחים
     // רווח תחתון לכרטיסיות
  }
}

.about-role-card img {
  height: 36px; 
  /* flex: 1 0 0; */
  

  @media (max-width: 600px) {
    width: 36px;
    height: 36px; 
    
  }
}

.about-role-card p {
  color: #2B2E37;
  
  font-size: 16px; 
  font-weight: 700; 
  line-height: normal;
  margin: 0;

  @media (max-width: 600px) {
    font-size: 14px; // קצת הקטנה במובייל כדי לשפר קריאות
  }
}


.rtl {
  direction: rtl;
  text-align: right;
  font-family: Assistant!important;
font-size: 32px;
font-style: normal;

  
}

.ltr {
  direction: ltr;
  text-align: left;
}