.full-width-image-container {
    position: relative;
  
    width: calc(100% - 32px);
  margin: 16px auto;
  height: 135vh;
  border-radius: 28px;
  }
  
  .full-width-image {
    width: 100%;
    height: 135vh;
    display: block;
    object-fit: cover;
    border-radius: 28px;


  }
  