.enhanced-detail-section {
    width: calc(100% - 32px);
    margin: 16px auto;
    display: flex;
    height: 650px;
    padding: 52px 0px 52px 44px;
    align-items: center;
    gap: 60px;
    border-radius: 28px;
    background: #EFEDF3;
    align-self: stretch;
    
    @media (max-width: 1000px) {
      flex-direction: column;
      height: auto; 
      padding: 52px 10px 52px 10px;
    }
  
    &.enhanced-detail-left {
      flex-direction: row-reverse; // הופך את הסדר כך שהתמונה תהיה משמאל
    }
  
    &.enhanced-detail-right {
      flex-direction: row; // הסדר הרגיל
    }
  }
  
  .enhanced-detail-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    direction: rtl;
  }
  
  .enhanced-short-image-container {
    margin-bottom: 16px;
  }
  
  .enhanced-short-image {
    height: 130px; // גובה קצר לתמונה
    width: auto;
    border-radius: 10px;
    
    @media (max-width: 1000px) {
      height: 80px;
    }
  }
  
  .enhanced-detail-title {
    color: #2B2E37;
    font-family: Assistant;
font-size: 32px;
    font-weight: 700;
    letter-spacing: 1.28px;
    line-height: normal;
    margin-bottom: 16px;
    align-self: center;
    display: flex;
    justify-content: center;
  }
  
  .enhanced-detail-description {
    color: #2B2E37;
    font-family: Assistant;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 auto;
    margin-bottom: 32px;
    width: 550px;
    text-align: center;
  
    @media (max-width: 1000px) {
      width: 90%; 
      align-self: center;
      text-align: center;
    }
  }
  
  .enhanced-detail-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .enhanced-detail-image {
    width: 630px; // גודל תמונה ברוחב מסך גדול
    max-width: 100%; // להתאמה למסכים קטנים יותר
    border-radius: 28px;
  
    @media (max-width: 1000px) {
      width: 95%; // גודל תמונה בטאבלט ומובייל
    }
  }
  