.enhanced-detail-section {
  width: calc(100% - 32px);
  margin: 16px auto;
  display: flex;
  height: 650px;
  padding: 52px 0 52px 44px;
  align-items: center;
  gap: 60px;
  border-radius: 28px;
  background: #EFEDF3;
  align-self: stretch;

  @media (max-width: 1000px) {
    flex-direction: column;
    height: auto; 
    padding: 52px 10px;
  }

  &.enhanced-detail-left {
    flex-direction: row-reverse; // הופך את הסדר כך שהתמונה תהיה משמאל

    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }

  &.enhanced-detail-right {
    flex-direction: row; // הסדר הרגיל

    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }
}

.enhanced-detail-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  direction: rtl;
  text-align: center; // כדי לוודא שהטקסט במרכז במובייל
}

.enhanced-short-image-container {
  margin-bottom: 16px;
}

.enhanced-short-image {
  height: 130px;
  width: auto;
  border-radius: 10px;

  @media (max-width: 1000px) {
    height: 80px;
    width: 95%;
  }
}

.enhanced-detail-title {
  color: #2B2E37;
  font-family: Assistant, sans-serif;
  font-size: 2rem; // שימוש ביחידות יחסיות
  font-weight: 700;
  letter-spacing: 0.08rem;
  line-height: normal;
  margin-bottom: 16px;
  align-self: center;
  display: flex;
  justify-content: center;

  @media (max-width: 1000px) {
    font-size: 1.8rem;
  }
}

.enhanced-detail-description {
  color: #2B2E37;
  font-family: Assistant, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin: 0 auto 32px auto;
  width: 550px;
  text-align: center;

  @media (max-width: 1000px) {
    width: 90%; 
    text-align: center;
  }
}

.enhanced-detail-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.enhanced-detail-image {
  width: 630px;
  max-width: 100%;
  border-radius: 28px;

  @media (max-width: 1000px) {
    width: 95%;
  }
}
