// ProjectBanner.scss

.project-banner {
  width: calc(100% - 32px);
  margin: 16px auto;
  height: 140vh;
  padding: 48px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--desktop-bg) center/cover no-repeat;
  border-radius: 28px;
}

.close-button {
  position: absolute;
  top: 32px;
  left: 32px;
  width: 44px;
  height: 44px;
  background-color: #d7cce0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 50px;
  margin-top: -20px;
}

.logo img {
  width: 100%;
  height: auto;
  align-self: center;
}

.banner-content-project {
  text-align: center;
  max-width: 888px;
  padding: 0 16px;
}

.banner-content-project h1 {
  font-size: 2.5rem;
  margin-bottom: 16px;
  line-height: 1.2;
  align-self: center;
  color: #2B2E37;
}

.banner-content-project p {
  font-size: 1rem;
  margin-bottom: 24px;
  line-height: 1.5;
  align-self: center;
  color: #2B2E37;
  text-align: center;
}

.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #f0f0f0;
  min-height: 100vh;
}

/* Breakpoint for mobile (max-width 768px) */
@media (max-width: 768px) {
  .project-banner {
    width: calc(100% - 32px);
    height: 350px;
    margin: 16px auto;
    padding: 48px;
    background: var(--mobile-bg) center/cover no-repeat;
  }

  .logo {
    width: 80px;
    height: auto;
    margin-bottom: 30px;
  }

  .close-button {
    width: 28px;
    height: 28px;
    top: 16px;
    left: 16px;
  }

  .banner-content-project {
    width: 90%;
  }

  .banner-content-project h1 {
    color: #2B2E37;
    text-align: center;
    font-family: Assistant;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.12px;
    width: 100%;
  }

  .banner-content-project p {
    color: #2B2E37;
    text-align: center;
    font-family: Assistant;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    align-self: center;
  }
}

@media (max-width: 1024px) {
  .project-banner {
    padding: 32px;
    background: var(--tablet-bg) center/cover no-repeat;
  }

  .banner-content-project {
    width: 90%;
  }

  .banner-content-project h1 {
    font-size: 1.2rem;
  }

  .banner-content-project p {
    font-size: .8rem;
    line-height: 1.2;
  }
}

/* Breakpoint for 1400px */
@media (min-width: 1400px) {
  .project-banner {
    padding: 64px;
    height: 130vh;
    max-height: none;
  }

  .banner-content-project h1 {
    font-size: 3rem;
  }

  .banner-content p {
    width: 950px;
  }
}

/* Breakpoint for 1800px */
@media (min-width: 1800px) {
  .project-banner {
    padding: 80px;
    height: 120vh;
    max-height: none;
  }

  .banner-content-project h1 {
    font-size: 3.5rem;
  }

  .banner-content-project p {
    width: 1100px;
  }
}
