.res-image-text-section {
    width: calc(100% - 32px);
    margin: 16px auto;
    border-radius: 28px;
    background: #F2F2F2;
    display: flex;
    padding: 52px 0px 52px 44px;
    flex-direction: column;
    align-items: center;
    

    .res-section-title {
        color: #2B2E37;
        font-family: Assistant;
font-size: 32px;
font-weight: 700;
        letter-spacing: 1.28px;
        line-height: normal;
        margin-bottom: 16px; // מרחק קטן מהכותרת לטקסט
    }

    .res-section-description {
        color: #2B2E37;
        font-family: Assistant;

        font-size: 16px;
        font-weight: 400;
        line-height: 26px; // 162.5%
        margin: 0 auto;
        margin-bottom: 32px; // מרחק בין הטקסט לתמונות
        width: 70%;
        text-align: center;

    }

    .res-images-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px; // הרווח בין התמונות במסכים גדולים

        .res-image {
            width: 45%;
            max-width: 600px; // מקסימום גודל לכל תמונה במסכים גדולים
        }

        .res-image2 {
            margin-left: auto;
            
        }
        .res-image1 {
    right: 0!important;
     
    margin-left: 50px;
  
             
        }
    }

    @media (max-width: 1000px) {
        .res-images-container {
            flex-direction: column;
            width: 80%;
            margin-top: 40px;

            .res-image {
                width: 100%; // כל תמונה תתפוס את כל הרוחב במסכים קטנים
                margin-bottom: 20px; // מרווח בין התמונות במסכים קטנים
            }
        }
    }
}