@media (max-width: 2500px) {
    .main-banner-container {
        height: 500px; /* מותאם למכונות גדולות */
    }

    .left-side-banner {
        width: 300px; /* מצמצם את רוחב הבאנר השמאלי */
    }
}

@media (max-width: 1920px) {
    .center-text-heb h2 {
        font-size: 44px;
        font-weight: 600;
        margin-top: -20px;
    }

    .left-side-banner h2 {
        font-size: 28px;
        font-weight: 500;
    }

    .icon-container {
        width: 52px;
        height: 52px;
    }

    .arrow-icon {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 1400px) {
    .center-text-heb h2 {
        font-size: 40px;
        margin-top: -20px;
    }

    .left-side-banner h2 {
        font-size: 24px;
    }

    .icon-container {
        width: 48px;
        height: 48px;
    }

    .arrow-icon {
        width: 36px;
        height: 36px;
    }
}

@media (max-width: 1000px) {
    .main-banner-container {
        flex-direction: column; /* שינוי הכיוון לעמודה */
        height: auto; /* גובה אוטומטי */
    }

    .left-side-banner,
    .right-side-banner {
        width: 100%; /* רוחב מלא */
        height: auto; /* גובה אוטומטי */
    }

    .center-text-heb h2 {
        font-size: 30px; /* הפחתת גודל הכותרת */
    }

    .icon-container {
        width: 40px;
        height: 40px;
    }

    .arrow-icon {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 680px) {
    .main-banner-container {
        padding: 8px; /* הפחתת רווחים */
    }

    .center-text-heb h2 {
        font-size: 23px;
    }

    .Square-banner {
        height: 150px; /* גובה מותאם */
    }

    .Square-banner-text p {
        font-size: 12px;
    }

    .icon-container {
        width: 30px;
        height: 30px;
    }

    .arrow-icon {
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 470px) {
    .banner {
        margin: 0; /* הסרת מרווחים */
    }

    .center-text-heb h2 {
        font-size: 20px; /* גודל קטן יותר */
    }

    .Square-banner {
        padding: 10px; /* רווחים מותאמים */
    }

    .Square-banner-text p {
        font-size: 10px; /* גודל קטן יותר */
    }

    .icon-container {
        width: 25px;
        height: 25px;
    }

    .arrow-icon {
        width: 20px;
        height: 20px;
    }
}