.landing-page {
    font-family: 'Assistant', sans-serif !important;
}

.main-banner-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 567px;
    position: relative;
    background-image: url('/img/Main banner v2 2.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 28px;
    padding: 16px;

    .right-side-banner {
        width: 70%;
        height: 100%;
        border-radius: 28px;
        padding: 16px;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        z-index: 2;

        .logo {
            top: 16px;
            font-size: 1.5rem;
            font-weight: 400;
            color: #2B2E37;
            align-self: flex-end;

            img {
                width: 80px;
                margin-right: 10px;
            }
        }

        .center-text-heb {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            text-align: right;
            height: 100%;
            width: 100%;
            padding-right: 16px;
            text-align: right;
            color: #FFFFFF;
            margin-top: 16px;

            h2 {
                font-size: 2.75rem;
                font-weight: 600;
                margin: 0 0 16px 0;
                direction: rtl;
            }

            p {
                font-size: 1.2rem;
                unicode-bidi: plaintext
            }
        }
    }

    .left-side-banner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 337px;

        .Square-banner {
            background-color: rgba(255, 255, 255, 0.4);
            /* צבע לבן עם שקיפות של 50% */
            backdrop-filter: blur(21px);
            /* טשטוש רקע */
            transition: background-color 0.3s ease;
            /* מעבר חלק */
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 20px;
            height: 50%;
            border-radius: 28px;
            position: relative;
            flex-direction: row-reverse;
            /* מציג את הטקסט קודם ואז את האייקון */
            text-align: right;

            &:hover {
                background-color: rgba(255, 255, 255, 0.7);
                /* צבע לבן עם שקיפות של 70% במצב הובר */
            }

            .get-in-touch {
                margin-bottom: 16px;
            }

            .Square-banner-text {
                display: flex;
                flex-direction: column;
                justify-content: right;
                align-items: flex-end;
                color: #2B2E37;

                h2 {
                    font-size: 1.7rem;
                    margin: 0;
                    font-weight: 600;
                    text-align: right;
                }

                p {
                    font-size: 0.75rem;
                    margin-top: 5px;
                }
            }

            .icon-container {
                background-color: #ffffff;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: 20px;
                bottom: 20px;

                .arrow-icon {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}

@media (max-width: 680px) {

    .main-banner-container {
        flex-direction: column;

        .right-side-banner {
            width: 100%;

            .center-text-heb {
                h2 {
                    font-size: 1.438rem;
                }
            }
        }

        .left-side-banner {
            width: 100%;

            .Square-banner {
                .Square-banner-text {
                    h2 {
                        font-size: 1.438rem;
                    }
                }
            }
        }

    }
}


.project-title {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 40px;
    font-size: 40px;
    color: #2B2E37;


}