.banner-section-heb {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 16px;
    height: 908px;
    background-size: cover;
    background-position: center;
    direction: rtl; /* כיוון התוכן לעברית */

    &.fashion-heb {
        background-image: url('/img/T&T Fashion.jpg');
    }

    &.priimo-heb {
        background-image: url('/img/Priimo.jpg');
    }

    &.shemesh-heb {
        background-image: url('/img/Ilan.jpg');
    }

    &.reability-heb {
        background-image: url('/img/Reability.jpg');
    }

    // השתמש ב-flexbox
    display: flex;
    align-items: flex-end; // מיישר את התוכן בתחתית
    padding: 20px; // ריווח סביב התוכן

    .content-overlay-heb {
        width: 538px;
        height: auto; // מתאם את הגובה לתוכן

        // אם תרצה להשתמש ב-left או right, תוכל לשמור על השורות
        &.right {
            margin-left: auto; // ימינה
        }

        &.left {
            margin-right: auto; // שמאלה
        }
    }

    .content-square-heb {
        background: linear-gradient(90deg, rgba(212, 220, 238, 0.8) 0%, rgba(232, 219, 247, 0.8) 100%);
        padding: 16px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        text-align: right; /* טקסט מיושר לימין */
        color: #2B2E37;
    }

    .ecommerce-title-heb {
        font-size: 1rem;

        background-color: #fff;
        padding: 5px 10px;
        border-radius: 20px;
        display: inline-block;
        margin: 10px 0 0;
        width: fit-content;
    }

    .ecommerce-name-heb {
        font-size: 24px;
        font-weight: 600;
        margin: 10px 0 0;
        text-align: right;
    }

    .ecommerce-description-heb {
        font-size: 1rem;
        margin: 5px 0 0;
        text-align: right;
    }

    .arrow-icon-container-heb {
        background-color: #fff;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        align-self: flex-end;

        .arrow-icon-heb {
            width: 35px;
            height: 35px;
            filter: invert(19%) sepia(12%) saturate(0%) hue-rotate(210deg) brightness(96%) contrast(85%);
            transform: scaleX(-1); /* ביטול ההיפוך */
        }
    }
}

// סגנון מותאם למסכים קטנים מ-680px
@media (max-width: 680px) {
    .banner-section-heb {
        width: 100%;
        height: 400px; /* תן לגובה להתאים לתוכן */
        padding: 10px;
        background-size: cover;
        background-position: center;
         /* אפשר ריווח סביב התוכן */

        &.fashion-heb {
            background-image: url('/img/T&T FashionM.jpg'); /* תמונה מתאימה למסכים קטנים */
        }

        &.priimo-heb {
            background-image: url('/img/PriimoM.jpg');
        }

        &.shemesh-heb {
            background-image: url('/img/Ilan OverviewM.jpg');
        }

        &.reability-heb {
            background-image: url('/img/ReAbility OnlineM.jpg');
        }

        .content-overlay-heb {
            width: 100%; /* רוחב מותאם */
            height: auto; /* גובה מותאם */
            padding: 10px; /* ריווח נוסף */
            display: flex;
            flex-direction: column;

            .content-square-heb {
                width: 100%; /* רוחב מותאם */
               padding: 0;
                align-self: flex-end;
                background:none;
                flex-direction: row;
                justify-content: space-between;

                .ecommerce-title-heb {
                    font-size: 0.8rem; /* גודל טקסט קטן יותר */
                }

                .ecommerce-name-heb {
                    font-size: 1.25rem; /* גודל טקסט קטן יותרpx; /* גודל טקסט קטן יותר */
                }

                .ecommerce-description-heb {
                    font-size: 0.75rem; /* גודל טקסט קטן יותר */

                }
            }

            .arrow-icon-container-heb {
                width: 25px; /* גודל קטן יותר */
                height: 25px; /* גודל קטן יותר */

                .arrow-icon-heb {
                    width: 30px; /* גודל קטן יותר */
                    height: 30px; /* גודל קטן יותר */
                }
            }


        }

    }
}
