html{
    scroll-behavior: smooth;
}
.landing-page{
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    overflow-x: hidden;  
}
.landing-page-heb{
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    overflow-x: hidden;
    font-family: 'Assistant', sans-serif !important;
}